<h1>New Game</h1>

<ul>
  <% @letters.each do |letter|  %>
    <li><%= letter %></li>
  <% end %>
</ul>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="input_word">
  <input type="submit" value="Submit">
</form>
